html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
}

body {
    background-color: #E4E4E4;
    font-size: inherit;
}

h1,h2,h3,h4 {
  padding:0;
  margin:0;
}

.container {
    width:1280px;
    margin: 0 auto;
    padding: 3.12em 4.4em;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    font-size: inherit;
}

.input-section, .output-section {
    width: 100%;
}

.input-section {
   display: -moz-flex;
   display: -webkit-flex;
   display: -ms-flex;
   display: flex;
   -moz-justify-content: space-between;
   -webkit-justify-content: space-between;
   -ms-justify-content: space-between;
   justify-content: space-between;
}

.input-container, .options-container {
    height: 100% ;
}

.input-container {
    height: 340px;
    width: 63%;
    background-color: burlywood;
}

.options-container {
    height: 340px;
    width: 32%;
    font-size: 1.2em;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: space-around;
   -webkit-justify-content: space-around;
   -ms-justify-content: space-around;
    justify-content: space-around;
    color:#5C5C5C;
}


.checkbox-label  {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 2.18rem;
    font-size: inherit;
}

input[type="checkbox"] { 
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.56rem;
    width: 1.56rem;
    background-color: #5C5C5C;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
   display: block;
} 

.checkbox-label .checkmark:after {
   left: 0.57rem;
   top: 0.31rem;
   width: 0.31rem;
   height: 0.625rem;
   border: solid #1598F7;
   border-width: 0 0.19rem 0.19rem 0;
   -moz-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.output-section {
  font-size: inherit;
  margin-top: 2.63em;
  min-height: 325px; 
  
  
}

.analyzed-sentence-wrapper {
    padding: 0.7em 0 0.7em 0.65em;
    margin-top:1.25em;
    position: relative;
    border-radius:0.5em;
}

.analyzed-sentence {
  display: -moz-flex;
  display: -webkit-flex; 
  display: -ms-flex;
  display: flex;
  -moz-flex-direction:flex-start;
  -webkit-flex-direction:flex-start;
  flex-direction:flex-start;
  -moz-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: 0.5em;
  padding-left:1.2em;
  padding-top: 1em;
  overflow:auto;

}

.analyzed-sentence :first-child {
  margin-left:0;
}

.analyzed-word {
  text-align:left;
  margin-left:0.65em;
  min-width:10%;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink:0;
    
}

.analysis {
    font-size:0.75em;
    border-top:1px solid black;
    padding: 0.5em 0; 
}

.analysis > div {
    margin-top:0.3em;
}

.analysis:first-child {
    margin-top: 0;
}

.analysis:last-child {
    border-bottom:0.0625em solid black;
}


.word-form {
    padding-bottom: 0.5em;
    font-size: 0.8em;
    color:  #5C5C5C;
}

.word-tag {
  font-style:italic;
  color: #EDAB5E;
}
.sentence-header {
    height: 20px;
    border-radius: 50%;
    background-color: #EDAB5E;
    text-align: center;
    font-size: 0.6em;
    padding: 0.5em 0.8em;
    margin-right: 0.8em;
    color:#fff;
    
}

.analyzed-sentence-wrapper {
    background-color:#fff;
    width:100%;
}

.open-close-icon {
    color:#5C5C5C;
    font-size:1.5em;
    position:absolute;
    bottom:0.1em;
    right:1.5em;
}

@media screen and (max-width: 1025px) {

    .input-section {
        -moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
    }
    
    .container {
        width: 100%;
    }

    .input-container, .options-container  {
      width:100%;
    }
    .options-container {
         margin-top: 2.63em;
    }
}

@media screen and (max-width: 767px) {
    
    .input-section {
        -moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
    }
    
    .container {
        width: 100%;
        padding: 0;
    }

    .input-container, .options-container  {
      width:100%;
    }
    .options-container {
         margin-top:  2.63em;
    }
    .analyzed-sentence  {
        padding-right:2.5em;
    }
    
    .analyzed-word {
      
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        flex-grow: 1;
       
    }
    
}
