html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif;
}

body {
    background-color: #E4E4E4;
    font-size: inherit;
}

h1,h2,h3,h4 {
  padding:0;
  margin:0;
}

.container {
    width:1280px;
    margin: 0 auto;
    padding: 3.12em 4.4em;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    font-size: inherit;
}

.output-section {
    width: 100%;
}

.input-container, .options-container {
    height: 100% ;
}

.input-container {
    height: 340px;
    width: 100%;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
   -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
     flex-wrap: nowrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.options-container {
    width: 32%;
    font-size: 1.2em;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    color:#5C5C5C;
}


.checkbox-label  {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 2.18rem;
    font-size: inherit;
}

input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.56rem;
    width: 1.56rem;
    background-color: #5C5C5C;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
}

.checkmark:after {
   content: "";
   position: absolute;
   display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
   display: block;
}

.checkbox-label .checkmark:after {
   left: 0.57rem;
   top: 0.31rem;
   width: 0.31rem;
   height: 0.625rem;
   border: solid #1598F7;
   border-width: 0 0.19rem 0.19rem 0;
   -moz-transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
}

.output-section {
  font-size: inherit;
  margin-top: 2.63em;
  min-height: 325px; 
  
  
}

.analyzed-sentence-wrapper {
    padding: 0.7em 0 0.7em 0.65em;
    margin-top:1.25em;
    position: relative;
    border-radius:0.5em;
}

.analyzed-sentence {
  display: -moz-flex;
  display: -webkit-flex; 
  display: -ms-flex;
  display: flex;
  -moz-flex-direction:flex-start;
  -webkit-flex-direction:flex-start;
  flex-direction:flex-start;
  -moz-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-top: 0.5em;
  padding-left:1.2em;
  padding-top: 1em;
  overflow-x:auto;
  overflow-y: hidden;

}

.analyzed-sentence :first-child {
  margin-left:0;
}

.analyzed-word {
  text-align:left;
  margin-left:0.65em;
  min-width:10%;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink:0;
    
}

.analysis {
    font-size:0.75em;
    border-top:1px solid black;
    padding: 0.5em 0; 
}

.analysis > div {
    margin-top:0.3em;
}

.analysis:first-child {
    margin-top: 0;
}

.analysis:last-child {
    border-bottom:0.0625em solid black;
}


.word-form {
    padding-bottom: 0.5em;
    font-size: 0.8em;
    color:  #5C5C5C;
}

.word-tag {
  font-style:italic;
  color: #EDAB5E;
}
.sentence-header {
    height: 20px;
    border-radius: 50%;
    background-color: #EDAB5E;
    text-align: center;
    font-size: 0.6em;
    padding: 0.5em 0.8em;
    margin-right: 0.8em;
    color:#fff;  
}

/**********************************************************************************/
.input-container__left {
  width: 63%;
  font-size: inherit;
}

#input__textarea {
  width: 100%;
  height: 300px;
  background-color: #FFFFFF;
  border-width: 0.0625em;
  font-size: inherit;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-color: burlywood;
  resize: none;
  color: #5C5C5C;
  padding: 0.625em;
}

.input__controllers {
  height: 40px;
  display: flex;
  flex-direction: row;
}

.input__dropdown-menu__container {
  width: 60%;
}

.input__dropdown-menu {
  width: 100%;
  height: 100%;
  padding: 0.31em;
  color: #3B3B3B;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  background-color: burlywood;
  border-bottom-left-radius: 0.5em;
  border: none;
}


.input__analyze-button__container {
  width: 40%;
}

.input__analyze-button {
  width: 100%;
  height: 100%;
  background-color: #1598F7;
  height: 100%;
  padding: 0.31em;
  color: #E5E5E5;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  border-bottom-right-radius: 0.5em;
  border: none;
}

.analyzed-sentence-wrapper {
    background-color:#fff;
    width:100%;
}

.open-close-icon {
    color:#5C5C5C;
    font-size:1.5em;
    position:absolute;
    bottom:0.1em;
    right:1.6em;
}

/*****************************************************************************/

.loader {
  position: absolute;
  top: 40%;
  left: 48%;
}

.line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 0.625em;
  display: inline-block;
  transform-origin: center center;
  margin: 0 0.187em;
  width: 4px;
  height: 25px;
}

.line:nth-child(1) {
  background: #5C5C5C;/*#27ae60;*/
}

.line:nth-child(2) {
  animation-delay: 180ms;
  background: burlywood;/*#f1c40f;*/
}

.line:nth-child(3) {
  animation-delay: 360ms;
  background: #5C5C5C;/*#e67e22;*/
}

.line:nth-child(4) {
  animation-delay: 540ms;
  background: burlywood;/*#2980b9;*/
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}


/*******************************************************************************/

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0.0625em dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 0.375em;
  padding: 0.312em 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -3.75em;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -0.312em;
  border-width: 0.312em;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*********************************************************************************/


@media screen and (max-width: 1025px) {

    
    .container {
        height: auto;
        flex-wrap: wrap;
    }
    
     .container, 
    .input-container__left,
    .options-container  {
      width:100%;
    }
    
    .input-container{
        -moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
        flex-wrap:wrap; 
        height: auto;
    }
    
    .options-container {
         margin-top: 2.63em;
        height: auto;
    }
    
    .checkbox-wrapper {
        margin-top: 0.625em;
    }
}

@media screen and (max-width: 767px) {

    .input-container {
        -moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
        height: auto;
    }

    .container {
        height: auto;
        padding: 0;
    }
    .container,
    .input-container,
    .options-container  {
      width:100%;
    }
    .options-container {
         margin-top:  2.63em;
        height: auto;
    }
    .analyzed-sentence  {
        padding-right:2.5em;
    }
    
    .analyzed-word {
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        flex-grow: 1;
       
    }
    
    .checkbox-wrapper {
        margin-top: 0.625em;
    }   
}
